<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

        <script type="text/javascript" charset="utf-8">
            $( function() {
                $( "#tabs" ).tabs();
            });
        </script>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {

            var table = $('#mteamst').DataTable({
            "bFilter": false,
      	    "stateSave": true,
            "paging": false,
            "ordering": false,
            "info": false,
      	    "responsive": true,
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            "order": [[ 0, 'asc' ]],
            "displayLength": 25,
            "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
            if ( last !== group ) {
              $(rows).eq( i ).before(
               '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
               last = group;
            }
            } );
        }
   } );

   var table = $('#kteamst').DataTable({
         "bFilter": false,
      	 "stateSave": true,
         "paging": false,
         "ordering": false,
         "info": false,
      	 "responsive": true,
         "columnDefs": [
             { "visible": false, "targets": 0 }
         ],
         "order": [[ 0, 'asc' ]],
         "displayLength": 25,
         "drawCallback": function ( settings ) {
         var api = this.api();
         var rows = api.rows( {page:'current'} ).nodes();
         var last=null;
         api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
                    last = group;
                }
            } );
        }
   } );

         var table = $('#gruppenspielet').DataTable({

		"bFilter": false,
      	 "stateSave": true,
         "paging": false,
         "ordering": false,
         "info": false,
      	 "responsive": true,
         "columnDefs": [
             { "visible": true, "targets": 0 }
         ],
         "order": [[ 0, 'asc' ]],
         "displayLength": 25,
         "drawCallback": function ( settings ) {
         var api = this.api();
         var rows = api.rows( {page:'current'} ).nodes();
         var last=null;

        }
   } );

         var table = $('#finalspielet').DataTable({

         "bFilter": false,
      	 "stateSave": true,
         "paging": false,
         "ordering": false,
         "info": false,
      	 "responsive": true,

         "order": [[ 0, 'asc' ]],
         "displayLength": 25,
         "drawCallback": function ( settings ) {
         var api = this.api();
         var rows = api.rows( {page:'current'} ).nodes();
         var last=null;

        }
   } );

       var table = $('#ranglistet').DataTable({
         "bFilter": false,
      	 "stateSave": true,
         "paging": false,
         "ordering": false,
         "info": false,
      	 "responsive": true,
         "columnDefs": [
             { "visible": false, "targets": 0 }
         ],
         "order": [[ 0, 'asc' ]],
         "displayLength": 25,
         "drawCallback": function ( settings ) {
         var api = this.api();
         var rows = api.rows( {page:'current'} ).nodes();
         var last=null;
         api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
                    );
                    last = group;
                }
            } );
        }
   } );
} );
</script>

<div id="top">
    <h3>$titel</h3>
    $moblink
    $programm
    $anmeldung
</div>

<div id="tabs">
  <ul>
    <li><a href="#mteams">M&auml;dchenteams</a></li>
    <li><a href="#kteams">Knabenteams</a></li>
    <li><a href="#gruppenspiele">Gruppenspiele</a></li>
    <li><a href="#finalspiele">Finalspiele</a></li>
    <li><a href="#rangliste">Rangliste</a></li>
  </ul>
  <div id="mteams">
        <table id="mteamst" class="table table-striped table-bordered" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>Gruppe</th>
              <th>Nr</th>
              <th>Klasse</th>
              <th>Captain</th>
              <th>Begleitperson</th>
              <th>Teamgroesse</th>
            </tr>
        </thead>
        <tbody>
        #foreach( $team in $madchen )
             <tr>
                <td><b>$team.gruppe</b></td>
                <td>$team.nummer</td>
                <td>[$team.klasse $team.klassenname] - $team.schulhaus</td>
                <td>$team.captain</td>
                <td>$team.begleitperson</td>
                <td>$team.spieler</td>
             </tr>
          #end
        </tbody>
        </table>
  </div>
   <div id="kteams">
        <table id="kteamst" class="table table-striped table-bordered" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Gruppe</th>
                <th>Nr</th>
                <th>Klasse</th>
                <th>Captain</th>
                <th>Begleitperson</th>
                <th>Teamgroesse</th>
            </tr>
        </thead>
        <tbody>
          #foreach( $team in $knaben )
           <tr>
            <td><b>$team.gruppe</b></td>
           <td>$team.nummer</td>
           <td>[$team.klasse $team.klassenname] - $team.schulhaus</td>
           <td>$team.captain</td>
          <td>$team.begleitperson</td>
         <td>$team.spieler</td>
        </tr>
          #end
        </tbody>
      </table>
  </div>
  <div id="gruppenspiele">
        <table id="gruppenspielet" cellspacing="0" class="table table-striped table-bordered" class="display" width="100%">
        <thead>
            <tr>
                <th>Zeit</th>
                <th>Platz</th>
                <th>Team A</th>
				<th></th>
                <th>Team B</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
      #foreach( $spiel in $grspiele )
      <tr>
     <td>$spiel.getDateFormatted()</td>
    <td>$spiel.platz</td>
          <td>$spiel.mannschaftA.name</td>
            <td>$spiel.evaluateToreABestateigtString()</td>
           <td>$spiel.mannschaftB.name</td>
              <td>$spiel.evaluateToreBBestateigtString()</td>
            </tr>
           #end
        </tbody>
        </table>
  </div>
     <div id="finalspiele">
        <table id="finalspielet" cellspacing="0" class="table table-striped table-bordered" class="display" width="100%">
        <thead>
            <tr>
                <th>Zeit</th>
                <th>Platz</th>
                <th>Team A</th>
				<th></th>
                <th>Team B</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            #foreach( $spiel in $finspiele )
             <tr>
                <td>$spiel.getDateFormatted()</td>
                <td>$spiel.platz</td>
                #if (!$spiel.mannschaftA)
                     <td>$spiel.getWebsiteName()</td>
                #else
                     <td>$spiel.mannschaftA.name</td>
                #end
               <td>$spiel.evaluateToreABestateigtString()</td>
                #if (!$spiel.mannschaftA)
                     <td>--</td>
                #else
                     <td>$spiel.mannschaftB.name</td>
                #end
              <td>$spiel.evaluateToreBBestateigtString()</td>
             </tr>
            #end
        </tbody>
       </table>
  </div>
     <div id="rangliste">
        <table id="ranglistet" class="table table-striped table-bordered" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
               <th>Team</th>
                <th></th>
                <th>Rang 1</th>
                <th>Rang 2</th>
                <th>Rang 3</th>
                <th>Rang 4</th>
            </tr>
        </thead>
        <tbody>
          #foreach( $eintrag in $rangliste )
          #foreach( $sp in $eintrag.getAsZeilen() )
         <tr>
          <td><b>$eintrag.getName()</b></td>
        #foreach( $sp1 in $sp )
        <td>$sp1</td>
       #end
   </tr>
       #end
          #end
        </tbody>
        </table>
  </div>
</div>